---
import Button from './Button.astro';
---
<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Your Kind of Designer</h1>
    <p class="text-muted narrow">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fugiat beatae expedita! A ratione eligendi eaque corporis iusto natus alias amet mollitia nulla enim animi reprehenderit, praesentium incidunt libero cumque voluptas recusandae unde! Accusamus, tempore.</p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary"/>
    <small class="text-muted">No commitment contact</small>
  </div>
</header>