---
import { Icon } from 'astro-icon';
---

<section class="programmer container blur grid-sm">
  <Icon name="Programmer" width="400px" class="programmer-icon" 
  alt="Programmer Picture" aria-hidden="true" />
</section>